<center>
	<h3>
		<strong>Presupuesto Espacio</strong>
	</h3>
	<p>Ingresar Datos del Cliente</p>
</center>

<form role="form" name="form" class="form-horizontal">

	<script cam-script type="text/form-script">  
		$scope.tipoClientes=["CORPORATIVO","CONSUMIDOR FINAL"]   
		var cliente = $scope.cliente = {};
		camForm.on('form-loaded', function() {
    	// declaro una variable 'json' nombrada 'cliente' 
    	camForm.variableManager.createVariable({
        	name: 'cliente',
        	type: 'Object',
        	value: cliente,
			valueInfo: {
				serializationDataFormat:'application/json',
				objectTypeName:'org.camunda.bpm.menini_nicola.mn_proceso_espacio.modelo.Cliente'
			}
      	});
   	 });
  </script>	
  
  <div class="control-group">
    <div class="controls">
              
    <label for="CLIENTE" class="control-label">Cliente *</label>
      <input type="text"
      		 class= "form-control"
      		 name="CLIENTE" 
             cam-variable-name="CLIENTE"
             cam-variable-type="String"
             maxlength=100
             required
             ng-model="cliente.nombre"/>
             
      <!--validar ingreso de cliente-->
      <p>
        <span style="color:red" ng-show="form.CLIENTE.$dirty && form.CLIENTE.$invalid">
  		  <span ng-show="form.CLIENTE.$error.required">cliente es obligatorio</span>
  		</span>
      </p>
      
      <label for="TIPO_CLIENTE" class="control-label">Tipo de Cliente *</label>
      <br>
      <select ng-model="cliente.tipo" 
              ng-options="x for x in tipoClientes"
              required>
              <option value="">--ingresar tipo de cliente--</option>
	  </select>
      <br>
      
       <div ng-if="cliente.tipo == 'CORPORATIVO' "> 
        <label for="RUT" class="control-label">RUT *</label>
      	<input type="text"
      		   class= "form-control"
      		   name="RUT" 
               cam-variable-name="RUT"
               cam-variable-type="String"
               maxlength=100
               required
               ng-model="cliente.rut"/>
            
        <!--validar ingreso de rut-->
      	<p>
      		<span style="color:red" ng-show="form.RUT.$dirty && form.RUT.$invalid">
  				<span ng-show="form.RUT.$error.required">rut es obligatorio</span>
  			</span>
      	</p>
      
      	<label for="RAZON_SOCIAL" class="control-label">Razón Social *</label>
      	<input type="text"
      	       class= "form-control"
      		   name="RAZON_SOCIAL" 
               cam-variable-name="RAZON_SOCIAL"
               cam-variable-type="String"
               maxlength=100
               required
               ng-model="cliente.razonSocial"/>
               
      	<!--validar ingreso de razón social-->
      	<p>
      		<span style="color:red" ng-show="form.RAZON_SOCIAL.$dirty && form.RAZON_SOCIAL.$invalid">
  				<span ng-show="form.RAZON_SOCIAL.$error.required">razón social es obligatoria</span>
  			</span>
      	</p>
      </div>      
    
      <label for="EMAIL" class="control-label">E-mail *</label>
      <input type="text" 
             cam-variable-name="EMAIL"
             cam-variable-type="String"
             maxlength=50
             required
             ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/"
             ng-model="cliente.email"
             class="form-control" 
             name="EMAIL"/>
             
       <!--validar ingreso de email-->
      	<p>
      		<span style="color:red" ng-show="form.EMAIL.$dirty && form.EMAIL.$invalid">
  				<span ng-show="form.EMAIL.$error.required">el email es obligatorio</span>
  			</span>
      	</p>
             
      <label for="TEL" class="control-label">Tel</label>
      <input type="text" 
             cam-variable-name="TEL"
             cam-variable-type="String"
             ng-pattern="/^\d{8}$/"
             ng-model="cliente.telefono"
             class="form-control" />
             
      <label for="CELULAR" class="control-label">Celular *</label>
      <input type="text" 
             cam-variable-name="CELULAR"
             cam-variable-type="String"
             required
             ng-pattern="/^0[\d]{8}$/"
             ng-model="cliente.celular" 
             class="form-control" 
             name="CELULAR"/>
             
      <!--validar ingreso de celular-->
	   <p>
	   	  <span style="color:red" ng-show="form.CELULAR.$dirty && form.CELULAR.$invalid">
		  <span ng-show="form.CELULAR.$error.required">el celular es obligatorio</span>
		  </span>
	   </p>
      
      <label for="descripcion" class="control-label">Proyecto Espacio *</label>
      <textarea cam-variable-name="descripcion" cam-variable-type="String" class="form-control" rows="4" required name="DESCRIPCION"/>
      <!--validar ingreso de descripcion-->
      	<p>
      		<span style="color:red" ng-show="form.DESCRIPCION.$dirty && form.DESCRIPCION.$invalid">
  				<span ng-show="form.DESCRIPCION.$error.required">la descripcion es obligatoria</span>
  			</span>
      	</p>
      
          
      <label for="moneda" class="control-label">Moneda *</label>
      <select cam-variable-name="moneda" cam-variable-type="String" class="form-control">
  			<option value="pesos" checked>$</option>
  			<option value="dolares">U$S</option>
	  </select>
           
      <label for="COSTO" class="control-label">Costo *</label>
      <input type="text" 
             cam-variable-name="COSTO"
             cam-variable-type="String"
             required
             ng-pattern="/^[0-9]+([,][0-9]+)?$/"
             ng-model="costo"
             class="form-control" 
             name="COSTO" />
      
      <!--validar ingreso de costo-->
      	<p>
      		<span style="color:red" ng-show="form.COSTO.$dirty && form.COSTO.$invalid">
  				<span ng-show="form.COSTO.$error.required">el costo es obligatorio</span>
  			</span>
      	</p>
      
      <label for="VALIDEZ" class="control-label">Validez (días)</label>
      <input type="text" 
             cam-variable-name="VALIDEZ"
             cam-variable-type="String"
             ng-pattern="/^[0-9]/"
             ng-model="validez"             
             class="form-control" />

	  <label for="cronograma" class="control-label">Adjuntar cronograma *</label>	
	  <input type="file"
	  	  accept="application/pdf"
	      cam-variable-name="INVOICE_DOCUMENT"
	      cam-variable-type="File"
	      cam-max-filesize="10000000" 
	      name="CRONOGRAMA"/>                 	  	     
	      
	      <!--validar ingreso de costo-->
      	<p>
      		<span style="color:red" ng-show="form.CRONOGRAMA.$dirty && form.CRONOGRAMA.$invalid">
  				<span ng-show="form.CRONOGRAMA.$error.required">el cronograma es obligatorio</span>
  			</span>
      	</p>
	             
    </div>
  </div>

  </form>