<strong>Proceso Espacio</strong>

<p>
  Ingresar Formulario
</p>

<form role="form" class="form-horizontal">
  <div class="control-group">
    <div class="controls">
              
     <label for="cliente" class="control-label">Cliente</label>
      <input type="text" 
             cam-variable-name="cliente"
             cam-variable-type="String"
             maxlength=100
             required
             class="form-control" />
    
      <label for="email" class="control-label">E-mail</label>
      <input type="text" 
             cam-variable-name="email"
             cam-variable-type="String"
             maxlength=50
             required
             ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/"
             ng-model="email"
             class="form-control" />
             
      <label for="tel" class="control-label">Tel</label>
      <input type="text" 
             cam-variable-name="tel"
             cam-variable-type="String"
             ng-pattern="/^\d{9}$/"
             ng-model="tel"
             class="form-control" />
             
      <label for="celular" class="control-label">Celular</label>
      <input type="text" 
             cam-variable-name="celular"
             cam-variable-type="String"
             required
             ng-pattern="/^0[\d]{7}$/"
             ng-model="celular" 
             class="form-control" />
      
      <label for="descripcion" class="control-label">Proyecto Espacio</label>
      <textarea cam-variable-name="descripcion" cam-variable-type="String" class="form-control" rows="4"/>
          
      <label for="moneda" class="control-label">Moneda</label>
      <select cam-variable-name="moneda" cam-variable-type="String" class="form-control">
  			<option value="pesos" checked>$</option>
  			<option value="dolares">U$S</option>
	  </select>
           
      <label for="costo" class="control-label">Costo</label>
      <input type="text" 
             cam-variable-name="costo"
             cam-variable-type="String"
             required
             ng-pattern="/^[0-9]+([,][0-9]+)?$/"
             ng-model="costo"
             class="form-control" />
      
      <label for="validez" class="control-label">Validez (días)</label>
      <input type="text" 
             cam-variable-name="validez"
             cam-variable-type="String"
             required             
             ng-pattern="/^[0-9]/"
             ng-model="validez"
             class="form-control" />

	  <label for="validez" class="control-label">Adjuntar cronograma</label>	
	  <input type="file"
	      cam-variable-name="INVOICE_DOCUMENT"
	      cam-variable-type="File"
	      cam-max-filesize="10000000" />                 
	  
	            
    </div>
  </div>

  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>